* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-repeat: no-repeat;
}
 
*:focus {
  outline: none;
}
 
*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 
ol,
ul,
li {
  padding: 0;
  margin: 0;
  display: block;
}
 
u,
i {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}
 
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
 
fieldset,
img {
  border: 0;
}
 
html {
  width: 100%;
}
 
body {
  font-size: 14px !important;
  color: #666666 !important;
  line-height: 24px !important;
}
 
body,
html {
  background-color: #f4f5f5 !important;
}
 
input,
select,
textarea {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d6d6d6;
}
 
a {
  color: #666;
  text-decoration: none;
}
 
a:hover {
  color: #c5a663;
}
 
a:link {
  text-decoration: none;
}
 
a:visited {
  text-decoration: none;
}
 
.f-x {
  zoom: 1;
}
 
.f-x:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
 
[v-cloak] {
  display: none;
}
 
.fl {
  float: left;
}
 
.fr {
  float: right;
}
 
.clear {
  clear: both;
}
 
.f-cb {
  zoom: 1;
}
 
.f-cb:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  content: ".";
}
 
.dn {
  display: none;
}
 
.dib {
  display: inline-block;
}
 
.ovh {
  overflow: hidden;
}
 
.por {
  position: relative;
}
 
.poa {
  position: absolute;
}
 
.pof {
  position: fixed;
}
 
.ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
 
.hidden {
  display: none;
}

